
/*GLOBAL***********/	

body {
	background-color: #fffffc;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 14px;
	width: 100vw;
	height: 100vh;
	color: #231f20;
	-ms-overflow-style: none;  // IE 10+
	overflow: -moz-scrollbars-none;  // Firefox
	position: absolute;
	overflow-x: none;
}

body::-webkit-scrollbar { 
	    display: none;  // Safari and Chrome
	}

#nav {
	width: 100%;
	height: 60px;
	display: inline-flex;
	justify-content: flex-end;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 10px;
}

#nav img {
	flex: 0 1 auto;
	height: 40px;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

#nav a {
	text-decoration: none;
	color: #231f20;
	font-weight: 600;
}

#nav a:visited {
	text-decoration: none;
	color: #231f20;
}

/*#nav div:hover {
	border-bottom: 2.5px solid #231f20;

}*/

#nav #logo-icon {
	align-self: flex-start;
	position: absolute;
	justify-content: flex-start;
	left: 0;
	height: 70px;
	display: block;
	margin-top: 0px;
	margin-left: -4px;
}

#flex {
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 0px 5px 0px 5px;
	top: 60px;
	position: absolute;
}

#flex li {
	height: 50vh;
	flex: 1 1 auto;
	padding: 10px;
	box-sizing: border-box;
}

 #flex li.full  {
	height: auto;
	width: 100%;
}

#flex li:last-child {
	flex-grow: 10;
}

#flex li img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	border-radius: 3.5px;
}

#content {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}


#logo {
	width: 40%;
	position: absolute;
	top: 175px;
	left: 30%
}

#hero-img {
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100%;
	position: relative;
	top: 53px;
	left: 0px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0px 5px 0px 5px;
}

#work img {
	padding: 10px;
	padding: 10px;
	flex: 1 1 auto;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 14px;
	height: 40%;
	width: auto;
}	

#work {
	margin-top: 0px;
}

/*.col-1 {
	width: 100%;
}

.col-2 {
	width: 50%;
}

.col-3 {
	width: 42.5%;
}

.col-4 {
	width: 57.5%;
}*/

/*********************PRESS*/

#press-links {
	display: block;
	margin-top: 60px;
}

#press-links a {
	text-decoration: none;
	color: #231f20
}

#press-links p {
	display: block;
	font-size: 24px;
	margin-top: 15px;
	margin-left: 15px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 4px;
	margin-bottom: 15px;
	padding-bottom: 2px;
}

#press-links p:hover {
	color: #231f20;
	text-decoration: underline;
}

.mag {
	color: #a1a1a1;
	font-weight: 600;
}



/*********************BIO*/

#bio {
	display: block;
	margin-top: 40px;
}

#bio div {
	display: inline-block;
}

#bio-headshot {
	width: 30%;
	float: left;
}

#bio-blurb {
	width: 50%;
	float: right;
}

#bio-blurb p {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 1px;
	margin-right: 80px;	
	margin-left: -40px;
	margin-top: 20px;
}

#bio-headshot img {
	width: 120%;
	margin: -20px 0 0 10px; 
	border-radius: 3.5px;
}

@media only screen and (max-width: 500px) {
	
	#nav {
		justify-content: flex-start;
		width: 90vw;
	}

	#nav #logo-icon {
		height: 60px;
	}

	#nav img {
		margin-top: 60px;
		margin-right: 8px;
	}

	#flex {
		margin-top: 50px;
		width: 100vw;
	}

	#flex li {
		height: 38vh!important;
	}

	#bio-headshot {
		width: 70%;
		float: none;
		margin-top: 40px;
	}

	#bio-blurb {
		width: 100%;
		float: none;
	}

	#bio-blurb p {
		margin-left: 10px;
		margin-right: 10px;
	}
}

















